[Unit]
Description=Aiko - CuteHotMe
After=network.target
BindsTo=xray.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/Aiko -c /usr/local/etc/Aiko/Aiko.json

[Install]
WantedBy=multi-user.target
